footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link.text-muted(href="/we") About we
                a.nav-link.text-muted(href="/travels") Travels
                a.nav-link.text-muted(href="/testimonials") Testimonials

        .col-md-6
            p.copyright.text-center.text-md-right.text-muted
                | All rights reserved 
                span= currentYear