.col-md-12
    blockquote.text-center Read about our Clients and their experiences.
    .row.testimonials
        each testimonial in testimonials
            div.col-md-6.col-lg-4.mb-4
                .card
                    .card-body 
                        blockquote.blockquote
                        p.mb-0
                            | #{testimonial.message}
                        footer.blockquote-footer
                            | #{testimonial.name}